[user]
{{- if eq .chezmoi.username "gzfrozen"}}
	name = gzfrozen
	email = gzliuxiaochen@gmail.com
	signingkey = A39257B5795BFE47
{{- else if eq .chezmoi.username "liux101"}}
	name = Liu Xiaochen
	email = xiaochen.liu01@g.softbank.co.jp
	signingkey = 7DBD6A02B0B33A25
{{end}}
[core]
	editor = nvim
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gitbutler]
	signCommits = true
	aiModelProvider = ollama
	aiOllamaModelName = llama3.1
[alias]
	pushf = push --force-with-lease --force-if-includes
[fetch]
	prune = true
[credential]
	interactive = auto
	helper = /usr/local/share/gcm-core/git-credential-manager
[diff]
	tool = nvimdiff
{{- if eq .chezmoi.username "gzfrozen"}}
{{- else if eq .chezmoi.username "liux101"}}
[credential "https://dev.azure.com"]
	useHttpPath = true
{{end}}
